.TripList{
    width: 480px;
    margin: 60px auto;
}

.TripList ul{
    padding: 0%;
}
.TripList li{
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    list-style: none;
    margin: 20px 0;
}